/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* en fin bakgrundsfärg: #d8e2ee */

body,
html {
  font-family: "MuseoSans";
  background-image: linear-gradient(to right, #c5adc5, #b2b5e0);
}

@font-face {
  font-family: "MuseoSans";
  src: local("MuseoSans"), url(./fonts/MuseoSansCyrl-500.woff);
}
.museo {
  font-family: museo;
}
